.page {
    height: 100vh;
    width: 100%;
    position: fixed;
    transition: all 0.2s ease-in-out;
}
.page-exit {
    transform: scale(.4);
    opacity: 0;
}

.page-exit-active {
     transform: scale(.4);
     opacity: 0;
}

.page-enter {
    transform: scale(1);
    opacity: 0;
}

.page-enter-active {
    transform: scale(.4);
    opacity: 0;
}